/*Nav style*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.open-sans-font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.myname{
    font-size: 30px;
    font-weight: 600;
}

.text-primary{
    color: #FD6E0A;
}

.secendary-bg{
    background-color: #f5e9e1;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}

nav li a{
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
}
.links a{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/*Banner style*/

.small-tittle{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.my-name{
    font-size: 45px;
    font-weight: bold;
    margin-top: -70px;
}

.description{
    font-size: 14px;
    font-weight: normal;
    color: #757575;
    margin-top: 20px;
}

.banner{
    display: flex;
    justify-content: space-between;
}

.image{
    width: 400px;
    height: 400px;
    margin-right: 75px;
    margin-top: 75px;
}

.banner-text{
    max-width: 700px;
    margin-left: 125px;
}

.header{
    background-image: url("../images/developer.png");
    background-repeat: no-repeat;
    height: 800px;
    width: -40px;
    border-radius: 10px;
    /* background-position: top left,bottom right; */
}

/*about styles*/
.about{
    text-align: center;
    border-radius: 20px;
    padding: 130px 150px;
    margin-top: 130px;

}
.section-tittle{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-decoration: underline;

}

.section-description{
    font-size: 18px;
    color: #757575;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.about-tittle{
    color: #757575;
}

.about-description{
    color: #474747;
}

.text-center{
    text-align: center;
}

/*Skills styles*/
.skills{
    margin-top: 130px;
}
.skills-container{
    display: flex;
    gap: 30px;
    /* margin-top: 90px; */
    margin: 90px 230px;
}

.skill-name{
    padding: 30px;
    box-shadow: 0px 6px 90px 9px rgba(163, 121, 121, 0.686);
    border-radius: 5px;
}

/*Resume styling*/
.mainResume{
    display: flex;
    gap: 24px;
    font-size: 15px;
    margin: 60px 60px;
}

.resume-tittle{
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
}

.resume-column-tittle{
    text-decoration: underline;
}
.resume-btn{
    margin-top: 50px;
}

/*footer style*/
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    margin-top: 113px;
}

.footer-column{
    width: 50%;;
}

footer input[type="text"], footer input[type="email"],footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: rgb(255, 255, 254);
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 25px;
    border: none;
    margin-top: 24px;
    font-size: 18px;
}
  